footer {
    background-color: #eee;
    position: absolute;
    top: auto;
    width: 100%;

    .social-media-icons {
        width: 35px;
        height: 35px;
        margin: 1px !important;
    }

    .connect-with-us {
        border-bottom: white;
    }

    .black-footer {
        background-color: black;
        width: 100%;
        margin-top: 20px;
        color: white;
        height: 35px;
        vertical-align: center;
    }
}