div.nav-bar-wrapper {

    background-color: black;

    md-nav-bar {
        .md-button._md-nav-button.md-unselected {
            color: #ffffff;
        }

        ._md-nav-button.md-ink-ripple.md-active {
            color: #ffffff;
            background: #f01b48;
        }

        md-nav-ink-bar {
            background: #f01b48;
        }
    }

    md-nav-bar.nav-bar {
        color: white !important;

        .nav-item {
            margin: 0;
            padding: 0;

            a {
                margin: 0;

            }
        }
    }

    .nav-item.md-nav-item :hover {
        background: #f01b48;
    }


    .call-number {
        color: white;
        width: 217px;
    }

}


md-toolbar.md-tall {
    background-color: #f4f4f4;

    .info-first {
        background-color: #dddddd;

        .toolbar-data {
            list-style-type: none;
            text-decoration-style: none;
            color: black;
            padding: 0;

            li {
                margin-right: 7px;
                display: inline-block;
                font-size: 13px;
            }
        }
    }

    .info-second {
        .app-logo h2 {
            color: black;
            font-size: 35px;
            font-weight: bold;
        }

        .search-box {
            background-color: white;
            padding: 0;

            .search-product input {
                font-size: 15px;
                outline: none;
                border: none;
                background-image: none;
                background-color: transparent;
                box-shadow: none;
            }


            .icon {
                color: black;
                border: none !important;
            }

            .category select {
                font-size: 15px;
                background-color: white;
                border-right: 1px solid gray;

            }

        }

        .cart-items {
            span {
                margin-left: 5px;
                color: black !important;
                font-size: 15px !important;
            }
        }

    }
}